.list.list-thumb-s.placeholder {
	opacity: 0.5;
	cursor: pointer;
	-webkit-user-select: none !important;
	-ms-user-select: none !important;
	user-select: none !important;
	-webkit-user-modify: read-only !important;
}

.list.list-thumb-s ul {
	padding: 0;
	margin: 0;
	font-size: 16px;
  	line-height: 1.5;
}

.list.list-thumb-s ul > li.linked {
	padding-right: 44px;
	cursor: pointer;
}

.list.list-thumb-s ul > li .list-title {
	font-size: 1em;
	font-weight: 600;
	margin: 0;
}

.list.list-thumb-s ul > li p {
	margin: 0;
}

.list.list-thumb-s ul > li .list-title + p {
	margin-top: 0.5em;
}

.list.list-thumb-s ul > li .list-title:empty + p {
	margin-top: 0;
}

.list.list-thumb-s ul > li .list-title + p:empty {
	margin: 0;
}

.list.list-thumb-s ul > li {
	align-items: center;
	border-bottom: 1px solid rgba(51,51,51,0.2);
	display: flex;
	list-style: none;
	min-height: 56px;
	padding: 10px 10px 10px 62px;
	position: relative;
}

.list.list-thumb-s ul > li .list-swipe-wrapper {
	min-height: 56px;
}

.list.list-thumb-s ul > li .list-image {
	width: 46px;
	height: 46px;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -23px;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.list.list-thumb-s ul > li .list-image .fl-list-icon {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 30px;
}

.list.list-thumb-s ul > li.linked:after {
	content: "\f105";
	font: normal normal normal 14px/1 FontAwesome;
	position: absolute;
	width: 44px;
	height: 44px;
	top: 50%;
	right: 0;
	margin-top: -22px;
	color: #333;
	font-size: 34px;
	line-height: 44px;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.list.list-thumb-s ul > li.linked:active {
	background-color: rgba(51, 51, 51, 0.06);
}
